*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.blog{
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/SliderImage1.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog h1{
  color: gold;
}
.stylishfont{

  font-family: 'Great Vibes', cursive;

}